{% extends "board/base.html" %}
{% block title %}Подать объявление{% endblock %}
{% load static %}
{% block content %}
	<div class="page-content">
		<div class="container">
			<div class="ad-new-content">
				<div class="ad-new-form">
					
					<h3>Подать объявление</h3>
					
					<button type=""></button>
					<form action="" method="post" accept-charset="utf-8">
						<p>
							<label>Местоположение<span>*</span></label>
							<select name="" class="location">
								<option value=""></option> 
								option
							</select>
						</p>
						<p>
							<label>Категория<span>*</span></label>
							<select name="" class="category">
								<option value=""></option>
								option
							</select>
						</p>
						<p>
							<label>Подкатегория<span>*</span></label>
							<select name="" class="subcategory">
								<option value=""></option>
								option
							</select>
						</p>
						<p>
							<label> Цена<span>*</span></label><input type="text" name="" value="" class="price">
							<select name="" class="unit">
								<option value=""></option>
								option
							</select>
						</p>

						<p>
							<label>Имя<span>*</span></label><input type="text/submit/hidden/button/etc" name="" value="">
						</p>
						<p>
							<label class="photo-label">Фото (макс. 12 фото)</label>
						<input type="file" class="photo" id="files" name="files[12]" multiple  min="1" max="12"/>
              <output id="list"></output>
              </p>
						<p>
							<label class="photo-label">Фотографии</label>


							<span class="upload">
								<label class="upload-photo">
									<!-- <input class="photo" type="file" id="files" name="files[]" accept="image/*,image/jpeg" size="1"> -->
									 <input class="photo" type="file" id="files" name="files[]" /> 
                   <output id="list"></output>
								</label>
								
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input type="file" name="files[12]" multiple  min="1" max="12"/>
              <output id="list"></output>
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
								<label class="upload-photo">
									<input class="photo" type="file" name="photo" multiple accept="image/*,image/jpeg" size="1">
								</label>
							</span>
						</p>
						{% if uploaded_file_url %}
							<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
						{% endif %}
						<p>
							<label class="topdesc">Описание<span>*</span></label><textarea name="" class="description"></textarea></p>
							<div class="addbutton"><input type="submit" name="" value="Подать объявление" class="submit"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}