{% extends "board/base.html" %}
{% block title %}{{ad.title}}{% endblock %}
{% load static %}
{% block content %}
	<div class="page-content">
		<div class="container">
			<div class="ad-content">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="title"><h2>{{ad.title}}</h2> </div>
						
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="image">
							<div class="item">
								<div class="clearfix" style="">
									<ul id="image-gallery" class="gallery list-unstyled cS-hidden">
										  {% for img in ad.images.all %}
											<li data-thumb="{{ img.file.url }}">
												<img src="{{ img.file.url }}" />
											</li>
											{% endfor %}
											<!-- {% for im in images %} -->
										<!-- {% endfor %} -->
										<!-- <li data-thumb="{% static 'board/images/main.png' %}" >
											<img src="{% static 'board/images/main.png' %}" />
										</li>
										<li data-thumb="{% static 'board/images/fon-51.gif' %}" >
											<img src="{% static 'board/images/fon-51.gif' %}" />
										</li>
										<li data-thumb="{% static 'board/images/fon-51.gif' %}" >
											<img src="{% static 'board/images/fon-51.gif' %}" />
										</li>
										<li data-thumb="{% static 'board/images/index.jpg' %}" >
											<img src="{% static 'board/images/index.jpg' %}" />
										</li> -->
									</ul>
								</div>
							</div>
						</div>
						<div class="price">
							<div class="field-name">Цена:  </div>
							<div class="price-inf"><button class="priceBtn" type="">
								<span class="count">{{ad.price}}</span>
								<span class="unit">{{ad.unit}}</span></button></div>
							</div>
							<div class="row ad-info">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="category"><div class="field-name">Категория:  </div>  {{ad.category}} </div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="createddate"><div class="field-name">Дата объявления:  </div>{{ad.create_date}}</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="loc"><div class="field-name">Город:  </div>{{ad.get_location_display}} </div>
								</div>
							</div>
							<div class="desc">{{ad.description}} </div>
							<!-- </div> -->
							
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="seller">
								<h4>Информация о продавце</h4>
								<div class="name"><div class="field-name">Продавец: </div> <a href="">{{ad.author.user}}</a></div>
								<div class="phone"><div class="field-name">Позвонить:  </div> <a href="tel:+0894105874"><button type="" class="phoneBtn">+0894105874</button></a></div>
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h3>Добавить комментарий</h3>
							
							<button type=""></button>
							<form action="/ads/{{ad.id}}/" method="post" accept-charset="utf-8">
								{% csrf_token %}
								{% if next %}
									<input type="hidden" name="next" value="{{ next }}" />
								{% endif %}
								<input type="hidden"  name="adv" id="adv" value="{{ad.id}}">
								<textarea name="comment"></textarea>
								<input type="submit" name="" value="добавить коммент">
							</form>
							<h3>Комментарии</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}