{% extends "board/base.html" %}
{% block title %}{{ad.title}}{% endblock %}
{% load static %}
{% block content %}
  <div class="page-content">
    <div class="container">
      <div class="ad-new-content">
        <div class="ad-new-form">
          <h3>Подать объявление</h3>
          
          <form id="adv_form" method="post" action="/ads/add/"
            enctype="multipart/form-data">
            <!-- {{adv_form.errors}} -->
            <p>
              <label for="{{ adv_form.title.id_for_label }}">Название:<span>*</span></label>
              {{ adv_form.title }}
            </p>
             {{ adv_form.description.errors }}
            <p>
              <label for="{{ adv_form.description.id_for_label }}">Описание:<span>*</span></label>
              {{ adv_form.description }}
            </p>
            {{ adv_form.description.errors }}
            <p>
              <label for="{{ adv_form.location.id_for_label }}">Местоположение:<span>*</span></label>
              {{ adv_form.location }}
            </p>
            {{ form.location.errors }}
            <p>
              <label for="{{ adv_form.category.id_for_label }}">Категория:<span>*</span></label>
              {{ adv_form.category }}
            </p>
            {{ adv_form.category.errors }}
            <p>
              <label for="{{ adv_form.subcategory.id_for_label }}">Подкатегория:<span>*</span></label>
              {{ adv_form.subcategory }}
            </p>
            {{ adv_form.subcategory.errors }}
            <!-- <p> -->
            <label class="price-label" for="price">Цена:</label>
            <div class="price" name="price">{{ adv_form.price }}
            {{ adv_form.unit }}</div>
            {{ adv_form.price.errors }}
            <!-- </p> -->
            <p>
            <!-- {{ adv_form.image.errors }} </div>
            -->
            <label for="{{ adv_form.image.id_for_label }}">Фото (макс. 12 фото)</label>
            <!-- <input type="file" class="photo" id="files" name="files[12]" multiple  min="1" max="12"/> -->
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
              {{ form }}
            {% endfor %}
            <output id="list"></output>
          </p>
          <div class="buttonSubmit">
            <input type="submit" name="submit" value="Подать объявление" class="submitBtn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}