{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'board/images/favicon.ico' %}" type="image/x-icon">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'board/css/styles.css' %}" />
    <link rel="stylesheet"  href="{% static 'board/css/lightslider.css' %}"/>
    <script type='text/javascript' src="{% static 'board/js/scripts.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
    <script src="{% static 'board/js/lightslider.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
  </head>
  <body>
    <div id="header" class="header">
      <div class="container">
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
                <li><a href="{% url 'home_page'%}">Главная</a></li>
                <li><a href="{% url 'contact_page'%}">Контакты</a></li>
                <li><a href="#">Реклама</a></li>
                <li><a href="#">Новости сайта</a></li>

            {% if user.is_authenticated %}
              <li><a href="{% url 'my_profile'%}">Мой профиль</a></li>
              <li><a href="{% url 'logout'%}">Выйти</a></li>
            {% else %}
             <li><a href="{% url 'registration_page'%}">Регистрация</a></li>
              <li><a href="{% url 'usr_login' %}">Войти</a></li>
            {% endif %}

              </ul>
              </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <a href="{% url 'home_page'%}"><div class="logo"><img src="{% static 'board/images/main.png' %}" alt=""></div></a>
            <form action="" method="post" class="search">
              <input type="search" name="" placeholder="Поиск..." class="input" />
              <!-- <div class="styled-select"> -->
                <select name="">
                  <option value="ALL_KG">Весь Кыргызстан</option>
                  <option value="ALA_BUKA">Ала-Бука</option>
                  <option value="ANANEVO">Ананьево</option>
                  <option value="ARAVAN">Араван</option>
                  <option value="AT_BASHI">Ат-Баши</option>
                  <option value="BAET">Бает</option>
                  <option value="BAETOV">Баетов</option>
                  <option value="BAZAR_KORGON">Базар-Коргон</option>
                  <option value="BAKAY_ATA">Бакай-Ата</option>
                  <option value="BAKTUU_DOLONOTU">Бактуу долоноту</option>
                  <option value="BALYIKCHI">Балыкчи</option>
                  <option value="BATKEN">Баткен</option>
                  <option value="BELOVODSKOE">Беловодское</option>
                  <option value="BISHKEK">Бишкек</option>
                  <option value="BOKONBAEVO">Боконбаево</option>
                  <option value="BOSTERI">Бостери</option>
                  <option value="GRIGOREVKA">Григорьевка</option>
                  <option value="GULCHA">Гульча</option>
                  <option value="DAROOT_KORGON">Дароот-Коргон</option>
                  <option value="DZHALAL_ABAD">Джалал-Абад</option>
                  <option value="ZHARKYINBAEV">Жаркынбаев</option>
                  <option value="ISFANA">Исфана</option>
                  <option value="KAZARMAN">Казарман</option>
                  <option value="KAINDYI">Каинды</option>
                  <option value="KANISH_KIYA">Каниш-Кия</option>
                  <option value="KANT">Кант</option>
                  <option value="KARA_BALTA">Кара-Балта</option>
                  <option value="KARAKOL">Каракол</option>
                  <option value="KARA_KUL">Кара-куль</option>
                  <option value="KARA_KULDZHA">Кара-Кульджа</option>
                  <option value="KARA_OY">Кара-Ой</option>
                  <option value="KARA_SUU">Кара-Суу</option>
                  <option value="KASHAT">Кашат</option>
                  <option value="KEMIN">Кемин</option>
                  <option value="KERBEN">Кербен</option>
                  <option value="KOZHOYAR">Кожояр</option>
                  <option value="KOK_OY">Кок-Ой</option>
                  <option value="KORUMDU">Корумду</option>
                  <option value="KOCHKOR">Кочкор</option>
                  <option value="KYIZYIL_ADYIR">Кызыл-Адыр</option>
                  <option value="KYIZYIL_KIYA">Кызыл-Кия</option>
                  <option value="KYIZYIL_SUU">Кызыл-Суу</option>
                  <option value="LEBEDINOVKA">Лебединовка</option>
                  <option value="MASSYI">Массы</option>
                  <option value="NARYIN">Нарын</option>
                  <option value="NOOKAT">Ноокат</option>
                  <option value="ORTO_ORUKTU">Орто-Орукту</option>
                  <option value="OSH">Ош</option>
                  <option value="POKROVKA">Покровка</option>
                  <option value="PULGON">Пульгон</option>
                  <option value="SEMENOVKA">Семеновка</option>
                  <option value="SOKULUK">Сокулук</option>
                  <option value="SUZAK">Сузак</option>
                  <option value="SULYUKTA">Сулюкта</option>
                  <option value="TALAS">Талас</option>
                  <option value="TAMCHYI">Тамчы</option>
                  <option value="TEMIR">Темир</option>
                  <option value="TEPLOKLYUCHENKA">Теплоключенка</option>
                  <option value="TOKMAK">Токмак</option>
                  <option value="TOKTOGUL">Токтогул</option>
                  <option value="TYUP">Тюп</option>
                  <option value="UZGEN">Узген</option>
                  <option value="CHAEK">Чаек</option>
                  <option value="CHOK_TAL">Чок-Тал</option>
                  <option value="CHOLPON_ATA">Чолпон-Ата</option>
                  <option value="CHON_SARYI_OY">Чон-Сары</option>
                  <option value="SHOPOKOV">Шопоков</option>
                </select>
              <!-- </div> -->
              <button type="submit" class="submitSearch">Поиск</button>
              
            </form>
          </div>
        </div>
        {% block content %}{% endblock %}
        
        <div id="footer" class="footer">
          <div class="container">
            <h1>Footer</h1>
          </div>
        </div>
      </body>
    </html>