{% extends "board/base.html" %}
{% block title %}Контакты{% endblock %}
{% load static %}
{% block content %}
	<div class="page-content">
		<div class="container">
			<div class="contact-container">
				<div class="phones"><div class="field-name">Телефоны:  </div> +996 701 01 71 16, +996 700 01 66 61</div>
				<div class="phones"><div class="field-name">Whatsapp:</div> +996 700 01 66 61</div>
				<div class="phones"><div class="field-name">Skype:</div> lolopepe.kg</div>
				<div class="phones"><div class="field-name">E-mail: </div> lolopepe.kg@mail.ru</div>
				<div class="phones"><div class="field-name">Адрес: </div> Горького / Бектенова 10, 2 этаж, 12 кабинет</div>
				<div class="phones"><div class="field-name">Время работы: </div> Пн-Сб 09:00–17:00</div>
			</div>
		</div>
	</div>
{% endblock %}