{% extends "board/base.html" %}
{% block title %}Главная | Доска объявлений{% endblock %}
{% load static %}
{% block content %}
	<div class="page-content">
		<div class="container">
			<div class="categories-nav">
				{% for category in categories %}
					<div class="menu-{{category.slug}} dropdown-categories">
						<a href="#" class="category-link">
							<div class="category-image">
								<img src="{% static 'board/images/'|add:category.slug|add:'.png' %}" alt="">
							</div>
							<div class="category-name">{{category.name}}
							</div>
						</a>
						<div class="dropdown-content">
							{% for subcategory in subcategories_by_category|get_item:category.id %}
								<a href="#">{{subcategory.name}}</a>
								<ul>
									
								</ul>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="mobile-categ">
				{% for category in categories %}
					<div class="mobile-{{category.slug}} mobile-dropdown-categories">
						<a href="#" class="category-link">
							<div class="mobile-category-image">
								<img src="{% static 'board/images/'|add:category.slug|add:'.png' %}" alt="">
							</div>
							<div class="mobile-category-name">{{category.name}}
							</div>
						</a>
						<div class="mobile-dropdown-content">
							<ul class="cat-list">
								{% for subcategory in subcategories_by_category|get_item:category.id %}
									<a href="#"><li>{{subcategory.name}}</li></a>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="new-ad">
				<a href="{% url 'add_adv'%}">
					<button type="" class="buttonNewAd">Подать объявление</button>
				</a>
			</div>
			
			
			
			<div class="content">
			
				<div class="fullwidth">
					<div class="row">
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<h3>Новые объявления</h3>
							
							{% for ad in ads %}
								<div class="board_item">
									<div class="row">
										
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
											<a href="{% url 'show_ad' id=ad.id %}">
												<div class="image"><img src="{{ ad.images.all.0.file.url }}" alt=""></div>
											</a>
										</div>
										<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
											<a href="{% url 'show_ad' id=ad.id %}">
												<div class="title"><h4>{{ad.title}}</h4> </div>													</a>
												<div class="category">{{ad.category}} </div>
												<div class="createddate">{{ad.create_date}}</div>
												<div class="author"><a href="">{{ad.author.user}}</a></div>
												<div class="price"><span class="count">{{ad.price}}</span>
												<span class="unit">{{ad.unit}}</span></div>
												<div class="loc">{{ad.get_location_display}} </div>
											</div>
										</div>
									</div>
								{% endfor %}
								
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<h3>Скидки и Акции</h3>
								{% for discount in discounts %}
									<div class="discount">
										<a href={{discount.link}}>
											<div class="image"><img src="{% static 'board/images/images.png' %}" alt=""></div>
											<div class="discount-info"><div class="title"><h4>{{discount.title}}</h4> </div>
											<div class="price"><h4>{{discount.price}}</h4></div>
											
											<!-- <div class="date_to">{{discount.date_to}}</div> -->
										</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</ul>
			</div>
			<div class="mobile-tabs">
				<div class="tabs">
					<input id="tab1" type="radio" name="tabs" checked>
					<label for="tab1" title="Объявления">Объявления</label>
					
					<input id="tab2" type="radio" name="tabs">
					<label for="tab2" title="Скидки">Скидки</label>
					
					<section id="content-tab1">
						<p>
							<h3>Новые объявления</h3>
							{% for ad in ads %}
								<div class="board_item">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
											<a href="{% url 'show_ad' id=ad.id %}">
												<div class="image"><img src="{% static 'board/images/images.png' %}" alt=""></div>
											</a>
										</div>
										<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
											<a href="{% url 'show_ad' id=ad.id %}">
												<div class="title"><h4>{{ad.title}}</h4> </div>													</a>
												<div class="category">{{ad.category}} </div>
												<div class="createddate">{{ad.create_date}}</div>
												<div class="price"><span class="count">{{ad.price}}</span>
												<span class="unit">{{ad.unit}}</span></div>
												<div class="loc">{{ad.get_location_display}} </div>
											</div>
										</div>
									</div>
								{% endfor %}
							</p>
						</section>
						<section id="content-tab2">
							<p>

								<h3>Скидки и Акции</h3>
								<div class="row">
								{% for discount in discounts %}
									
										<div class="col-sm-6 col-xs-6">
											<div class="discount">
												<a href={{discount.link}}>
													<div class="image"><img src="{% static 'board/images/images.png' %}" alt=""></div>
													<div class="discount-info"><div class="title"><h4>{{discount.title}}</h4> </div>
													<div class="price"><h4>{{discount.price}}</h4></div>
													<!-- <div class="date_to">{{discount.date_to}}</div> -->
												</div>
											</a>
										</div>
									</div>
								
							{% endfor %}
							</div>
						</p>
						 </section>  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}