{% extends "board/base.html" %}
{% block title %}Вход | Доска объявлений{% endblock %}
{% load static %}
{% block content %}
  <div class="login-container">
    <div class="container">
      <div class="page-content">
        <!--  <ul class="social-container">
          <h3>Вход в профиль через социальные сети</h3>
          <li><a class="google" href=""><img src="{% static 'tests/images/google.png' %}" alt=""> </a></li>
          <li> <a class="facebook" href=""><img src="{% static 'tests/images/fb.png' %}" alt=""> </a> </li>
          <li><a class="vkontakte" href=""> <img src="{% static 'tests/images/vk.png' %}" alt=""></a> </li>
          <li><a class="odnoklassniki" href=""><img src="{% static 'tests/images/ok.png' %}" alt=""> </a></li>
        </ul>
        <div class="or">
          или
        </div> -->
        <div class="account-container">
          <h3>Вход в аккаунт Доски объявлений</h3>
          
          <form class="login-form" name="LoginForm" method="POST" action="/login/">
            {% csrf_token %}
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="errors">
              {% for key in errors %}
                <div data-input="{{key}}">
                  <span class="help-block form-error">{{errors|get_item:key}}</span>
                </div>
              {% endfor %}
            </div>
            <p> <input type="text" id="username" name="username"  placeholder="Логин"></p>
            <p><input type="password" name="password" id="password"  placeholder="Пароль"></p>
            <p> <button class="signin-button" type="submit">Войти</button></p>
          </form>
          <div class="extra-links">
            <!-- <a href="#">Забыли пароль?</a>
            <span class="separator">|</span> -->
            <a href="{% url 'registration_page'%}">Зарегистрироваться</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}