{% extends "board/base.html" %}
{% block title %}Профиль{% endblock %}
{% load static %}
{% block content %}
<div class="profile-page-container">
	<div class="page-content">
		<div class="container">
			<div class="profile-page-top">
				<div class="row">
					<div class="page-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h2>Профиль пользователя {{user.username}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="profile-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h3>Мои объявления:</h3>
					</div>
				</div>
			</div>
			
			{% for ad in my_ads %}
				<div class="board_item">
					<div class="row">
						
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
							<a href="{% url 'show_ad' id=ad.id %}">
								<div class="image"><img src="{{ ad.images.all.0.file.url }}" alt=""></div>
							</a>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
							<a href="{% url 'show_ad' id=ad.id %}">
								<div class="title"><h4>{{ad.title}}</h4> </div>													
								</a>
								<div class="category">{{ad.category}} </div>
								<div class="createddate">{{ad.create_date}}</div>
								<div class="author"><a href="">{{ad.author.user}}</a></div>
								<div class="price"><span class="count">{{ad.price}}</span>
								<span class="unit">{{ad.unit}}</span></div>
								<div class="loc">{{ad.get_location_display}} </div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}