{% extends "board/base.html" %}
{% block title %}Регистрация | Доска объявлений{% endblock %}
{% load static %}
{% block content %}
  <div class="registration-container">
    <div class="container">
      <div class="page-content">
        <!--  <ul class="social-container">
          <h3>Вход в аккаунт через социальные сети</h3>
          <li><a class="google" href=""><img src="{% static 'tests/images/google.png' %}" alt=""> </a></li>
          <li> <a class="facebook" href=""><img src="{% static 'tests/images/fb.png' %}" alt=""> </a> </li>
          <li><a class="vkontakte" href=""> <img src="{% static 'tests/images/vk.png' %}" alt=""></a> </li>
          <li><a class="odnoklassniki" href=""><img src="{% static 'tests/images/ok.png' %}" alt=""> </a></li>
        </ul>
        <div class="or">
          или
        </div> -->
        <div class="account-container">
          <h3>Регистрация аккаунта в Доске объявлений</h3>
          <form action="/registration/" method="post" class="signup-form" id="registration-form">
            {% csrf_token %}
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
             <div class="errors">
              {% for key in errors %}
                <div data-input="{{key}}">
                  <span class="help-block form-error">{{errors|get_item:key}}</span>
                </div>
              {% endfor %}
            </div> 
            <p class="requiredspan"><span>*</span> помечены обязательные для заполнения поля</p>
            <!-- <p><label>Телефон в формате +996ххххххххх<span>*</span></label><input type="tel" name="tel" id="tel"  placeholder="Пароль" pattern="+[0-9]{12}"></p> -->
            <!--  data-validation="custom" data-validation-regexp="+996[0-9]{9}" -->
            <p><label>Имя пользователя<span>*</span></label><input type="text" name="username" id="username"  placeholder="Имя пользователя" data-validation="custom,length" data-validation-regexp="(?=.*[\s]?)([a-zA-Z\s]+)$" data-validation-length="4-20"></p>
            {{ user_form.username.errors }}
            <p><label>Пароль<span>*</span></label><input type="password" name="password1" id="password1"  placeholder="Пароль" data-validation="strength" data-validation-strength="1"></p>
            {{ user_form.password1.errors }}
            <p><label>Подтвердите пароль<span>*</span></label><input type="password" id="password2" name="password2" laceholder="Подтвердите пароль" data-validation="confirmation" data-validation-confirm="password1"></p>
            <p> <button class="signup-button" type="submit">Регистрация</button></p>
          </form>

          <!-- <form method="POST" action="/register/">
            {% csrf_token %}
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="errors">
              {% for key in errors %}
                <div data-input="{{key}}">
                  <span class="help-block form-error">{{errors|get_item:key}}</span>
                </div>
              {% endfor %}
            </div> 
            <p> <input type="text" id="username" name="username"  placeholder="Логин"></p>
            <p><input type="password" name="password1" id="password1"  placeholder="Пароль"></p>
            <p><label for="password2">пдтвр</label>
          input<input type="password" name="password2" id="password2"  ></p>
          <p> <button type="submit">register</button></p>
        </form>-->
      </div>
    </div>
  </div>
</div>
{% endblock %}