{% extends "board/base.html" %}
{% block title %}Регистрация | Доска объявлений{% endblock %}
{% load static %}
{% block content %}


<form method="POST" action="/register/">

  {% csrf_token %} 

  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
  <div class="errors">
  {% for key in errors %}
    <div data-input="{{key}}">
        <span class="help-block form-error">{{errors|get_item:key}}</span>
    </div>
  {% endfor %}
  </div>
  <p> <input type="text" id="username" name="username"  placeholder="Логин"></p>
  <p><input type="password" name="password1" id="password1"  placeholder="Пароль"></p>
  <p><label for="password2">пдтвр</label>
  input<input type="password" name="password2" id="password2"  ></p>
  <p> <button type="submit">register</button></p>

  </form>
{% endblock %}