/*********************HEADER*********************/
.logo > img{
    width:100%;
}

/*********************GENERAL*********************/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif !important;
    color: #5a5a5a !important;
}
.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
a{
    color: #1CA5E9;
}
a:hover{
    color: #D24383;
    filter: brightness(85%);
    text-decoration: none;
}
a:hover img{
    filter: opacity(90%);
}
button{
  font-weight: 600;
}
.field-name{
  float: left;
  color: rgba(0,0,0,0.6);
  margin-right: 10px;
}
select{
  -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   /*background: url(../images/arrow-down.png) no-repeat 96% 0;*/   /* add custom arrow */
   background-size: 100% 100%;
   background: #fff;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 42px;
   border-radius: 5px;
   background: url(../images/15xvbd5.png) no-repeat calc(100% - 5px) #fff ;
}
/*********************MENU*********************/
.container-fluid{
  background: /*#D24383*/#1CA5E9;
}
.nav.navbar-nav a{
  color:  #fff !important;
}
.navbar{
  margin-bottom: 0px !important;
}
.navbar-nav{
  width: 100% !important;
  text-align: center !important;
}

.navbar-nav > li {
      float: none !important;
      display: inline-block !important;
    }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle{
  background: /*#D24383*/#1CA5E9;
  /*background: url(../images/btn_menuwhite.png);*/
  /*background-size: 100% 100%;*/
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:#fff;
}
.nav{
  text-align: center;
}


.category-image img{
  width:40px;
  height: 40px;
}

.categories-nav{
  width: 85%;
  float: left;
}
.buttonNewAd{
  width: 15%;
  padding: 10px;
  color: #fff;
  background: #1CA5E9;
  border: #1CA5E9;
  border-radius: 5px;
  margin-top: 20px;
  /*height: 80px;*/
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-categories{
    position: relative;
    display: inline-block;   
}
.category-link{
  text-align: center;
    color: #444;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-categories:hover .dropdown-content {
    display: block;
}

.dropdown-categories:hover .dropbtn {
    background-color: #3e8e41;
}
 .dropdown-categories{
    width: 13%;
    margin: 10px 0.4%;
    vertical-align: top;
}
.menu-blagotvoritelnost{
    width: 14%;
    margin: 20px 0.3%;
}
.dropdown-content{
   text-align: left;
}
@media screen and (max-width: 1200px){
     .dropdown-categories{
    width: 13%;
    margin: 20px 0.4%;
}
.menu-blagotvoritelnost{
    width: 14%;
    margin: 20px 0.3%;
}
}
@media screen and (min-width: 1024px){
  .mobile-categ{
  display: none;
  }
}
@media screen and (max-width: 1023px){
    .categories-nav{
    display: none;
   }
    .new-ad{
      text-align: center;
    }
   .buttonNewAd{
  width: 50%;
  margin: 0px auto 20px;

}
    /* Important styles */
/*#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}


#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + .toggle-menu {
  opacity: 1;
  visibility: visible;
}


.toggle-menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);

  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
.toggle-menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}

body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
p, p a { font-size: 12px;text-align: center; color: #888; }*/
.mobile-categ{
   margin: 30px 0;
}
.mobile-dropdown-categories{
   min-height: 40px;
   border-bottom: 1px solid #ccc;

}
.mobile-category-name{
  text-align: left;
  padding: 10px 20px;
  margin: 0 20px;
  background: url(../images/arrow20.png) no-repeat right center;
}
 .mobile-category-image img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
 }
 .mobile-category-image{
  float: left;
  margin-right: 20px;
 }
 .cat-list{
   display: none;
   position: block;
   padding: 0px 10px 10px 10px;
   list-style: none;
 }
 .cat-list li{
    margin-left: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
 }
}
@media screen and (max-width: 767px){
.buttonNewAd{
  width: 100%;
}
    
}
@media screen and (max-width: 440px){
    
}
/*********************Search*********************/
.search {
  width: 100%;
  margin:10px;
}

.search .input {
  float: left;
  border: 1px solid #ccc;
  width: 50%;
  padding: 13px 15px 13px 40px; 
  border-radius: 5px;
  background: #fff;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
  background:  url(../images/search.png) no-repeat 5px center #fff;
}

.search .input:focus, select:focus {
  /*background: #E8E8E8;*/
  color: #333;
  border: #D24383 1px solid;
}

/*.styled-select select {
   background: #fff;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 42px;
   border-radius: 5px;
   background: url(../images/15xvbd5.png) no-repeat right #fff;
}*/
.search select {
    margin:0 20px;
    float: left;
   width: calc(40% - 80px); 
   overflow: hidden;
   /*background: url(../images/15xvbd5.png) no-repeat right #fff;*/
}
.submitSearch {
  width: 10%;
  background: #D24383;
  color: #fff;
  height: 42px;
  border-radius: 5px;
  border: #D24383;
}

.submitSearch:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1023px){
    .search select{
    margin:0px 10px;
    width: calc(30% - 20px);
      }
      .submitSearch {
  width: 15%;
    }
  }
@media screen and (max-width: 767px){
    .search {
  width: 95%;
  margin:auto;
}
   .search .input {
  float: none;
  width: 100%;
}
.search select{
    margin:10px 20px 0 0;
    float: left;
   width: calc(70% - 20px);
}
.submitSearch {
   margin-top:10px ;
  width: 30%;
}
}

/***************CONTENT****************/
.page-content{
  margin: 20px 0 50px;
}
/***************Ads****************/
/*.row*/ .board_item{
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  /*margin-bottom: 20px;*/
}
.board_item h3, .board_item h4{
    margin-top: 0px;
}
h4{
    margin-top: 0px !important;
}
.board_item img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
/***************Discount****************/
.discount{
    border-radius: 10px;
  /*padding: 10px;*/
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
  float: left;
}
.discount-info{
  position: relative;
  top:-300px;
  background: rgba(0,0,0,0.3);
  height: 300px;
  padding: 240px 20px 20px 20px;
  text-align: center;
   border-radius: 10px;

}
.discount a{
  color:#fff;
}
.discount h4{
    margin-top: 0px;

}
.discount .title{
  /*float: left;*/
  padding-right: 10px;
   max-height: 24px;
    overflow: hidden;
}
.discount .price{
  /*float: right;*/
  padding-right: 10px;
   max-height: 25px;
    overflow: hidden;
}
h4{
    margin-top: 0px !important;
}
.discount img{
  width: 100%;
  height: 300px;
  object-fit: cover;
    border-radius: 10px;
}
/*********************TABS**********************/
.tab-bar{
    background-color:  /*#D24383*/#1CA5E9;
    color: #fff;
    height: 50px;
}
.tab-bar button{
    background-color:  /*#D24383*/#1CA5E9;
    border:  /*#D24383*/#1CA5E9;
    color: #fff;
    padding: 10px 20px;
    height: 50px;
    width: 49%;
}
.tabs {
  /*min-width: 320px;*/
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}
.tabs label{
  width: calc(50% - 2px)
}
/* Стили секций с содержанием */
.tabs>section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.tabs>section>p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #999;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Прячем чекбоксы */
.tabs>input {
  display: none;
  position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
/*.tabs>label[for*="1"]:before {
  content: "\f19a";
}
.tabs>label[for*="2"]:before {
  content: "\f17a";
}
.tabs>label[for*="3"]:before {
  content: "\f13b";
}
.tabs>label[for*="4"]:before {
  content: "\f13c";
}*/
/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
  color: #888;
  cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
  color: #555;
  border-top: 1px solid #1CA5E9;
  border-bottom: 1px solid #fff;
  background: #fff;
}

#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
  display: block;
}

@media screen and (min-width: 1024px) {
  .mobile-tabs{
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .fullwidth{
    display: none;
  }
}
/*********************AD page*********************/
.ad-content{
  margin:  0px ;
  padding:  20px 30px 50px 30px;
  background: #fff;
}
.ad-content .image{
  /*margin: 15px;*/
  width: calc(100% - 40px);
  margin: 10px auto;
}
.ad-content .image img{
   width: 100%;   
   height: 300px;
   object-fit: contain;
   border: 1px solid #ccc;
   border-radius: 5px;
}
/*****************SLIDER************/
ul{
   list-style: none outside none;
        padding-left: 0;
            margin: 0;
    }
        .demo .item{
            margin-bottom: 60px;
        }
    .content-slider li{
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }
    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }
    .lSPager.lSGallery li{
      width: 100px
       height: 70px;
       border-radius: 5px;
    }
    .lSPager.lSGallery li img{
       height: 70px !important;
       object-fit: cover;
    }
    .lslide{
      background: rgba(0,0,0,0.1);
    }
    .lSAction > a{
       background-image: url(../images/prozr.png) ;
      
       background-size:  100% 100%;
       opacity: 0;
       width: 20px !important;
       height: 20px !important;
    }
    .lSNext{
       background-image: url(../images/next.png) !important;
        background-size:  100% 100%;
                background-position: -20px 0 !important;
    }
    .lSPrev{
        background-image: url(../images/prev.png) !important;
        background-size:  100% 100%;

    }
/*.price .count{
  float: left;
}
.price .unit{
  float: left;
  margin-left:10px; 
}*/
.ad-content .price{
   /*margin-top: 20px;*/
   /*text-align: center;*/
   padding: 10px 0;
}
.ad-content .ad-info{
  margin: 10px 0 10px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom:  1px solid #ccc;
}

.ad-content .field-name{
  float: left;
  color: rgba(0,0,0,0.6);
  margin-right: 10px;
}
.ad-content .price{
  font-size: 20px;
}
.price .field-name{
  padding-top: 10px; 
  margin-right: 30px;
}
.priceBtn{
  padding: 10px 20px;
  color: #fff;
  background: #1CA5E9;
  border: #1CA5E9;
  border-radius: 5px;
}
.priceBtn:hover{
  cursor: default;
}
.ad-content .desc{
  /*margin: 15px;*/
  padding-top: 20px;
}

.col-lg-6.col-md-6.col-sm-6.col-xs-12{
  padding: 10px 0 0 0px !important;
}
.seller>div{
    padding-top: 10px;
}
.phone .field-name{
   float: none;
margin-top: 20px;
}
.phoneBtn{
   padding: 10px 20px;
  color: #fff;
  background: #1CA5E9;
  border: #1CA5E9;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 1023px){
  .ad-content{
  margin: 20px 0 0 0;
  padding:  20px 20px 30px 20px;
  background: #fff;
}
  .seller{
    margin-top: 50px;
  }
  
  }
/*********************AD NEW page*********************/
.ad-new-content{
  margin:  0px ;
  padding:  20px 30px 50px 30px;
  background: #fff;
}
.ad-new-content h3{
   margin-bottom: 40px;
}
.ad-new-content label{
  width: 200px;
  float: left;
  text-align: right;
  margin-right: 50px;
  padding-top:5px;
}
.ad-new-content label span{
   color: red;
  }
.ad-new-content .topdesc{
  vertical-align: top; 
}
.ad-new-content p{
  padding-bottom: 0px;
  min-height: 40px;
  padding-top: 20px;

  clear: both;
}
.ad-new-content select {
    /*margin:0 20px;*/
    /*float: left;*/
   width: 300px; 
   overflow: hidden;
   height: 34px;
   padding: 5px 10px; 
   border-radius: 3px;
   vertical-align: top;
}

.ad-new-content input {
  border: 1px solid #ccc;
  width: 300px;
  padding: 5px 10px; 
  border-radius: 5px;
  background: #fff;
  color: #555;
  outline: none;
  height: 34px;
  border-radius: 3px;
}
.ad-new-content textarea {
  border: 1px solid #ccc;
  width: 300px;
  padding: 5px 10px; 
  border-radius: 5px;
  background: #fff;
  color: #555;
  outline: none;
  height: 200px;
  border-radius: 3px;
}
/*.ad-new-content .photo{
  background: url(../images/images.png) no-repeat;
  background-size: contain;
  height: 50px;
  width: 70px;
  -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
}*/
#files{
  border: none;
  color: #fff;
}
.photo-label{
  float: left;
}
       .upload{
        width: 320px;
        float: right;
        margin-bottom: 30px;
      }
      label.upload-photo {
      overflow:hidden;
      width:80px;
      height:60px;
      cursor:pointer;
      background:url(../images/no-image.png) no-repeat;
      background-size: contain;
      margin-right: 10px;
    }
    .photo {
      width:80px;
      height:60px;
      opacity:0;
      font-size:199px;
      cursor:pointer;
      padding:0px;
      margin:0px;
      border:none;
      margin-left:-450px;
      background:url(../images/images.png) no-repeat;
    }
    .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
   /* .upload-photo {
    overflow: hidden;
    position: relative;
}

.upload-photo [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    opacity: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}*/
.price-label{
  float: left;
  padding-top: 25px !important;
}
.ad-new-content div.price{
  float: left;
  min-height: 50px;
  padding-top: 20px;
}
.ad-new-content div.price input{
  width: 180px;
  margin-right: 7px;
}
.ad-new-content div.price select{
  width: 110px;
  vertical-align: baseline !important;
}

.ad-new-content input:focus, select:focus {
  /*background: #E8E8E8;*/
  color: #333;
  border: #D24383 1px solid;
}
.ad-new-content input.submitBtn {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  background: /*#D24383*/#1CA5E9; 
  border: /*#D24383*/#1CA5E9 1px solid;
}
input.submitBtn:hover{
  filter: brightness(85%);
}
.ad-new-form{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.buttonSubmit{
  text-align: center;
}
.submitBtn{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.errorlist{
  color: red;
  float: right;
  margin-right: 50px;
  padding-bottom: 15px;
  width: 100%;
  text-align: right;
}
@media screen and (max-width: 767px){
    .ad-new-content label{
  width: 100%;
  float: none;
  text-align: left;
  margin-right: 0px;
  padding: 20px 0 10px 0;
}
.ad-new-form{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.ad-new-content p{
  /*padding-bottom: 20px;*/
  min-height: 40px;
  padding-top: 20px;
}
.ad-new-content select {
    /*margin:0 20px;*/
    /*float: left;*/
   width: 300px; 
   overflow: hidden;
   height: 34px;
   padding: 5px 10px; 
   border-radius: 3px;
   vertical-align: top;
}

.ad-new-content input {
  border: 1px solid #ccc;
  width: 300px;
  padding: 5px 10px; 
  border-radius: 5px;
  background: #fff;
  color: #555;
  outline: none;
  height: 34px;
  border-radius: 3px;
}
.ad-new-content textarea {
  border: 1px solid #ccc;
  width: 300px;
  padding: 5px 10px; 
  border-radius: 5px;
  background: #fff;
  color: #555;
  outline: none;
  height: 200px;
  border-radius: 3px;
}
input.price{
  width: 180px;
  margin-right: 7px;
}
select.unit{
  width: 110px;
}
}

/*.ad-new-content .ad-new-content select{
   background: url(../images/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   /*margin-left: 300px;
}

.ad-new-content .styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE 
   width: 268px;
}*/

 /*******************LOGIN PAGE*****************/

.login-container .container, .registration-container .container{
  max-width:320px;
  margin:20px auto 20px auto;
  text-align: center;
}
.login-container h3, .registration-container h3{
  padding-bottom: 15px;
  font-size: 20px;
  text-align: center;

}
.login-container .page-content{
  padding-top:0px;
  /*padding-bottom: 0px; */
}
.registration-container .page-content{
  padding-top:0px;
  padding-bottom: 0px; 
}
/*.login-container .page-content a, .registration-container .page-content a{
  color: #4682B4;
}*/
.login-container .page-content a:hover, .registration-container .page-content a:hover{
  /*filter: brightness(85%);*/
  /*color: #191970;*/
}
.social-container{
  list-style: none;
  padding-bottom: 15px;
  padding-left: 0;
}

.social-container li{
  display: inline-block;
    padding-right: 15px;
    padding-bottom:  10px;
}
.social-container li img{
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.account-container p span{
  padding-left: 10px;
  color:red;
}
.requiredspan{
  color:/*#D24383*/#1CA5E9;
  margin-bottom: 20px;
}
.requiredspan span{
  color:/*#D24383*/#1CA5E9;
  padding-left: 0px!important;
  padding-right: 10px;
}
.account-container .login-form input{
  width:95%;
  height: 40px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff; 
   outline: none; 
   color: #444; 
}
.account-container .login-form input:focus {
  color: #000000;
  border: 1px solid /*#D24383*/#1CA5E9;
}
.account-container .login-form button{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width:95%;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  background: /*#D24383*/#1CA5E9; 
  border: /*#D24383*/#1CA5E9 1px solid;
}
.account-container .login-form button:hover{
  filter: brightness(85%);
}
.account-container .extra-links .separator{
  color: #a9a9a9;  
}

.account-container .extra-links{
  font-size: 14px;
}
.account-container .signup-form label{
  width:48%;
  float: left;
  font-weight: 500;
   color: #444;   
   text-align: left;
}
.account-container .signup-form label:not(.location){
  padding-top: 10px;
}
.account-container .signup-form input{
  height: 40px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff; 
   outline: none; 
   color: #444; 
}
.account-container .signup-form input:not(.locality){
  width:50%;
  }
  .account-container .signup-form input.locality{
  width:100%;
  }
.account-container .signup-form input:focus {
  color: #000000;
  border: 1px solid /*#D24383*/#1CA5E9;
}
.account-container .signup-form button{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width:95%;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  background: /*#D24383*/#1CA5E9; 
  border: /*#D24383*/#1CA5E9 1px solid;
}
.account-container .signup-form button:hover{
  filter: brightness(85%);
}
@media screen and (min-width: 1024px) and (max-width: 1239px){
 .account-container .extra-links .separator{
  padding: 0 10px; 
}
.account-container .extra-links a{
    padding-bottom: 10px;
}
  }
@media screen and  (max-width: 1023px){
 .account-container .extra-links .separator{
  display: none;
}
.account-container .extra-links a{
    padding: 40px !important;
    margin-top: 40px !important;
}
  }


/*********************FOOTER*********************/

.footer{
    
}
.footer .container{
    min-height: 50px;
    background: #E6E6FA;
}

